:root{
    --color-primario:white;
    --color-secundario:aliceblue;
    --color-principal:rgb(3, 73, 252);
    --color-verde-principal: rgb(7, 224, 170);
    --verde:rgb(6, 86, 66);
    --certro:center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color:  var(--color-secundario);
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
