:root{
    --color-primario:white;
    --color-secundario:aliceblue;
    --color-principal:rgb(3, 73, 252);
    --color-verde-principal: rgb(7, 224, 170);
    --verde:rgb(6, 86, 66);
    --centro:center;
    --fuente: Georgia, 'Times New Roman', Times, serif;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sidebar{
    background:linear-gradient(180deg,#0052cc,#003b99);
    width: 16%;
    height: 100vh;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
}
.logo{
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    height: 80px;
    padding: 10px 20%;
}
.logo span{
    color: #7dd3fc;
}
.menus{
    width: 100%;
    font-size: 20px;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.menus li{
    width: 100%;
    height: 55px;
    list-style:none;
    border-radius: 10px;
}
.menus li:hover, .menus .activo{
    background:rgba(255,255,255,0.18);
    transform:translateX(5px);
}
.menus li a{
    color: white;
    width: 100%;
    height: 100%;
    padding: 13px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
}
.usuario{
    background-color:rgba(255,255,255,0.1);
    backdrop-filter:blur(200px);
    color: white;
    width:100%;
    height: 75px;
    text-align: left;
    padding: 17px 20px;
    margin-top:auto;
    border-radius: 10px;
}

/*Aqui estaran los estilos del contenido main*/

main{
    background-color:aliceblue;
    height: 100vh;
    margin-left:16%;
    padding: 40px;
}

/* Aqui estaan los estilo del modal */
.modal{
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 55;
    overflow-y: auto;
}
.modal .container_modal{
    max-width: 600px;
    border-radius: 20px;
    overflow: hidden;
    flex-basis: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    z-index: 20;
}
.titulo_modal{
    background-color: var(--color-principal);
    color: white;
    font-size: 22px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_perfil{
    background-color: var(--color-primario);
    padding: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.form_perfil .grupo_input{
    min-width: 265px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.grupo_input input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 2px ;
}
input:focus{
    border: 1px solid var(--color-principal);
    box-shadow: 0px 0px 2px var(--color-principal);
}
.btns_modal{
    font-size: 25px;
    flex-basis: 100%;
    display: flex;
    justify-content: end;
    gap: 20px;
}
.btns_modal button{
    color: white;
    padding: 13px;
    border-radius: 9px;
    border: none;
}
.btn_cancelar_modal{
    background-color: rgba(81, 71, 224, 0.6);
}
.btn_guardar_modal{
    background-color: var(--color-principal);
}

/*Aqui estaran los estilos del perfil*/
h2{
    font-family: var(--fuente);
    font-weight: bold;
}
.perfil{
    background-color: white;
    max-width: 900px;
    padding: 45px;
    margin: 30px 0px;
    border: 1px solid rgb(15, 109, 209);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.perfil article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.perfil article div{
    min-width:280px;
    line-height: 30px;
    flex:1; 
}
.perfil article div strong{
    color: rgb(68, 125, 170) ;
    font-size: 15px;
}
.perfil article div p{
    font-size: 18px;
}

.habilidades{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 15px;
}
.habilidades span{
    background-color: rgb(1, 117, 212);
    color: white;
    padding: 7px 10px;
    border-radius: 25px;
}
.perfil>p{
    font-family: var(--fuente);
    font-weight: bold;
}
.perfil>p span{
    font-size: 17px;
    font-family: initial;
    font-weight: normal;
}
button.btn_editar_perfil{
    background-color:rgb(0, 128, 255);
    color: white;
    width: 170px;
    font-size: 15px;
    padding: 14px 10px;
    border-radius: 10px;
    border: none;
   
}

button:hover{
    background-color:  rgb(6, 73, 139);
    color: white;
    border: 1px solid rgb(0, 128, 255);

}


.telefono{
    flex-grow: 1;
}








@media(max-width:900px){
    .sidebar{
        width:80px;
        padding: 30px 10px;

    }

    .logo{
        font-size:22px;
    }
    .menus li{
        width: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
}

    .logo,
    .menus a span,
    .usuario{
        display:none;

    }

    main{
        margin-left:80px;
    }

    .menus a{
        justify-content:center;
    }


.perfil article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.perfil article div{
    width: 100%;
    line-height: 30px;
}



}

@media(max-width:600px){

    .bara-superior{
        flex-direction:column;
        gap:15px;
        align-items:flex-start;
    }

    .bara-superior h1{
        font-size:28px;
    }
}